 body{
      width: 1024px;
  height: 576px;
        background-image: url("");
        background-size: 1024px 576px;

      }
 .container {
			position: relative;
			width: 100%;
			height: 500px;
			background-image: url("backgroundmenu.png");
			background-size: cover;
		}

 .btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2px 2px;
  color: white;
  font-size: 32px;
  border: none;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  background-color: transparent;
}

a {
  font-family: "Press Start 2P", "04b_19", sans-serif;
}



